body{
    background-color: #E2E4E5!important;
}
#intro{
    text-align: center;
}
#profile-wrapper{
    text-align: center;
}
#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    padding: 0;
    list-style-type: none;
}
.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}
.social{
    height: 30px;
    width: 30px;
}
.fa-phone-square{
    
}